{% extends "base.html" %}

{% block title %}Password reset complete{% endblock title %}

{% block content %}
<h1 class="text-light">Password reset complete</h1>
<p class="text-light">Your new password has been set. You can log in now on the <a class="link-success" href="{% url 'login' %}">Log In page</a>.</p>

<img src="https://media.istockphoto.com/id/151546027/photo/happy-young-guy-showing-thumbs-up-sign.jpg?s=1024x1024&w=is&k=20&c=wzw0mXJ6UKRIiDaYra15Kf8MLs6ncHTDVwEr-IaeKAA=" alt="Guy giving a thumbs up">
{% endblock content %}
