{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<h1 class="text-light">Forgot your password?</h1>
<p class="text-light">Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST" class="text-light">{% csrf_token %}
    {{ form|crispy }}
    <input class="text-light btn btn-success ml-2" type="submit" value="Send me instructions!">
</form>

<br>

<img class="rounded border border-success btn-success" src="https://www.usd259.org/cms/lib/KS01906405/Centricity/Domain/4883/Log%20In%20Meme.jpg" alt="Man asking why he can't get logged in: meme">

<br>
{% endblock content %}